.grid-container {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    background-color: #2196F3;
    padding: 10px;
    width: 360px;
    height: 360px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 35px 20px;
    font-size: 30px;
    text-align: center;
  }

  #main-title {
    text-align: center;
    font-family: sans-serif;
  }

  #turnDisplay {
    text-align: center;
    font-family: sans-serif;
  }

  .button {
    /* margin: auto; */
    
  }

  .button-container {
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: space-evenly;
    width: 360px;
    margin: 30px auto;
  }

  #board-container {
    display:flex;
    justify-content: space-evenly;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
  }

#player1ScoreCard {
  
}

#player2ScoreCard {
  
}

.scores {
  margin-top: 10%;
  text-align: center;
}

#game-container {
  /* display: none; */
}

#start-screen {
  margin-top: 17%;
  text-align: center;
  font-family: sans-serif;
  display: none;
}