@font-face {
  font-family: 'starjedi';
  src: url("fonts/starjedi/Starjedi.ttf")
}

@font-face {
  font-family: 'starjhol';
  src: url("fonts/starjedi/Starjhol.ttf")
}

@font-face {
  font-family: 'starjlogo';
  src: url("fonts/starjedi/Stjldbl1.ttf")
}


body {
  background-image: url("images/star-bg.jpg");
  background-color: black;
  color: #ffd200;
}

.sw-font {
  font-family: "starjedi", sans-serif;
  color: #ffd200;
}

.grid-container {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    background-color: #053c74;
    border-radius: 10px;
    padding: 7px;
    width: 360px;
    height: 360px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #053c74;
    padding: 10px 10px;
    font-size: 30px;
    text-align: center;
  }

  .main-title {
    text-align: center;
    font-family: 'starjedi', sans-serif;
    font-size: 70px;
    margin: 0;
  }

  .subtitle {
    font-family: 'starjhol', sans-serif;
    text-align: center;
    font-size: 27px;
    margin: 0;
  }

  #turnDisplay {
    text-align: center;
    font-family: sans-serif;
  }

  .button {
    margin: auto;
    border: 2px solid #ffd200;
    background-color: transparent;
    border-radius: 5px;
    width: 200px;
    font-size: 27px;
  }

  .button-2 {
    margin: auto;
    border: 2px solid #ffd200;
    background-color: transparent;
    border-radius: 5px;
    width: 200px;
    font-size: 21px;
  }

  .button:hover {
    border-color: white;
    color: white;
  }

  .button:focus {
    color: white;
  }

  .button-2:hover {
    border-color: white;
    color: white;
  }

  .button-2:focus {
    outline: none;
  }

  .active {
    border-color: white;
    color: white;
  }

  .button-container {
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: space-evenly;
    width: 500px;
    margin: 30px auto;
  }

  #startGame {
    margin-top: 40px;
  }

  #board-container {
    display:flex;
    justify-content: space-evenly;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
  }

.icon {
  max-width: 100%;
  max-height: 100%;
}

#player1ScoreCard {
  
}

#player2ScoreCard {
  
}

.scoreName {
  font-size: 100px;
  margin: -40px;
}

.scores {
  font-family: 'starjedi', sans-serif;
  margin-top: 10%;
  text-align: center;
}

#game-container {
  display: none;
}

#start-screen {
  margin-top: 4%;
  text-align: center;
  font-family: sans-serif;
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* #start-screen { 
    width: 100%;
  }; */

  /* .button-container {
    display: block;
    width: 100%;
  }; */

}

@media only screen and (max-width: 768px) {
.button-container {
  display: block;
  width: 100%;
}

#empire, #computer {
  margin-top: 20px;
}

#board-container {
  display: block;
}

.grid-container {
  margin: auto;
}

}

@media only screen and (max-width: 412px) {

  #board-container {
    width: 100%;
  }

  .grid-container {
    width: 260px;
    height: 260px;
    grid-template-columns: 86px 86px 86px;
    grid-template-rows: 86px 86px 86px;
  }

  #reset {
    margin-bottom: 10px;
  }

}